<div *ngIf="isLoading | async" class="overlay">
    <div class="loader11">
        <div class="spinner3">
            <div class="container-B">
                <div class="hex0"></div>
                <div class="hex120"></div>
                <div class="hex240"></div>
                <div class="spinner3">
                    <div class="container-B">
                        <div class="hex0"></div>
                        <div class="hex120"></div>
                        <div class="hex240"></div>
                        <div class="spinner3">
                            <div class="container-B">
                                <div class="hex0"></div>
                                <div class="hex120"></div>
                                <div class="hex240"></div>
                                <div class="spinner3">
                                    <div class="container-B">
                                        <div class="hex0"></div>
                                        <div class="hex120"></div>
                                        <div class="hex240"></div>
                                        <div class="spinner3">
                                            <div class="container-B">
                                                <div class="hex0"></div>
                                                <div class="hex120"></div>
                                                <div class="hex240"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
