<div class="container" class="image-upload">
    <label for="image-input">
        <i class="fas fa-camera-retro camera-icon"></i
    ></label>
    <input
        id="image-input"
        type="file"
        accept="image/*"
        (change)="uploadFile($event)"
    />
</div>

<app-loader></app-loader>
<div>
    <button (click)="callApi()">Click</button>
</div>

<input
    type="file"
    (change)="fileChangeEvent($event)"
    placeholder="Upload file..."
/>
<button type="button" (click)="upload()">Upload</button>
